@mixin limit-text($size : 150px) {
  @include text-ellipsis();
  max-width: $size;
  display: inline-block;
}

@mixin dropdown-overflow($max-width: inherit) {
  position: fixed;
  top: auto;
  left: auto;
  margin-left: -11px;
  margin-top: 5px;
  max-width: $max-width;
}

@mixin content-side-padding {
  padding-left: 20px;
  padding-right: 20px;
}

//Must have fixed width on the element for this to work!
@mixin text-ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin sidepanel-animation() {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
