<div class="table-title">{{isActiveOrders ? 'Autobuy (Active Orders)' : 'Autobuy (History Orders)'}}</div>
<ng-container *mobxAutorun>
    <div class="table-wrapper full-height full-width">
      <div class="toggle-table" (click)="toggleTableMode()">{{isActiveOrders ? 'Active Orders' : 'History Orders'}}</div>
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 100%;"
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [modules]="modules"
        [rowModelType]="rowModelType"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
</ng-container>
